.sign_up {
  display: grid;
  grid-template-columns: 8fr 8fr;
  grid-gap: 2px;
  /* border: 1px solid black; */
  width: 100%;
}

.sign_up > div {
  margin: 10px;
  /* border: 1px solid red; */
  height: 85vh;
  margin-top: 5vmax;
}

.sign_up > div > .image {
  position: relative;
}

.sign_up > div > .image > img {
  position: absolute;
  left: 5vmax;
  top: 10vmax;
  width: 80%;
}

.sign_up > div > .image > img:hover {
  box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.2);
}

.sign_up > div > .profile {
  margin: 2vmax;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  padding: 2vmax;
}

.sign_up > div > .profile > .profile_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmax;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.sign_up > div > .profile > .profile_main:hover {
  box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.2);
}

.sign_up > div > .profile > .profile_main > div {
  width: 50%;
  padding: 0.5vmax;
  display: block;
}

.sign_up > div > .profile > .profile_main > div > .h6 {
  font-weight: 400;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
}

.sign_up > div > .profile > .profile_main > div > input {
  /* display: none; */
  outline: none;
  width: 100%;
  padding: 2px;
  font-weight: 400;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
}

.sign_up > div > .profile > .profile_main > div > input[type="submit"] {
  outline: none;
  width: 100%;
  padding: 0.5vmax;
  font-weight: 100;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
  background-color: #f06a50;
  /* border: none; */
  color: aliceblue;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login > .image_main  >img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.login > .profile > .profile_main  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.login > .profile > .profile_main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmax;
  width: 100%;
  transition: 0.3s;
}


.login > .profile > .profile_main > div > input {
  display: block; /* Change 'none' to 'block' to display the button */
  outline: none;
  width: 100%;
  padding: 0.5vmax; /* Specify padding value */
  font-weight: 100;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
}

.login > .profile > .profile_main > div > input[type="submit"] {
  display: block; /* Change 'none' to 'block' to display the button */
  outline: none;
  width: 100%;
  padding: 0.5vmax; /* Specify padding value */
  font-weight: 100;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
  background-color: #f06a50;
  color: aliceblue;
  border: none;
}


.login > .profile > .profile_main > div > input[type="submit"]:hover {
  box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.2);
}