

.main_admin {
  display: flex;
  justify-content: center;
}

.admin_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.admin_form > form > div {
  padding: 1vmax;
}

.admin_form > form > div > input[type='text'],
.admin_form > form > div > textarea {
  width: 100%;
  padding: 0.5vmax;
  font-weight: 100;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.admin_form > form > div > input[type='submit'] {
  width: 50%;
  padding: 0.5vmax;
  font-weight: 100;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
  background-color: tomato;
  color: aliceblue;
  border: none;
  cursor: pointer;
}

.admin_form > form > div > input[type='submit']:hover {
  box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.2);
}

.main_table {
  height: 100vh;
  padding: 10px;
  overflow: auto;


}

.main_table .table {
  margin-top: 10vh; /* Adjust the top margin instead */
  scroll-behavior: smooth;
}

.table .imager {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin: 8px 0;
}

