ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 1vmax;
}
.main_admin {
  display: flex;
  justify-content: center;
}

.admin_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.admin_form > form > div {
  padding: 1vmax;
}

.admin_form > form > div > input[type="text"],
.admin_form > form > div > textarea {
  width: 100%;
  padding: 0.5vmax;
  font-weight: 100;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.admin_form > form > div > input[type="submit"] {
  width: 50%;
  padding: 0.5vmax;
  font-weight: 100;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
  background-color: tomato;
  color: aliceblue;
  border: none;
  cursor: pointer;
}

.admin_form > form > div > input[type="submit"]:hover {
  box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.2);
}


.main_table {
  padding: 20px; /* Increase padding to increase the size of the table */
  overflow: auto;
}


.main_table .table th,
.main_table .table td {
  padding: 10px; /* Adjust cell padding for better spacing */
}
.main_table > .table {
  width: 100%;
  scroll-behavior: smooth;
}

.table .imager {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin: 8px 0;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.admin_upload{
  display: flex;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

.container {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.main p {
  width: 650px;
  text-align: justify;
  line-height: 22px;
  position: relative;
  top: 157px;
  left: 109px;
}
.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #1a1616;
  width: 650px;
  text-align: justify;
  line-height: 22px;
  position: relative;
  top: 157px;
  left: 109px;
  
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}

.aside_nav{
  position: relative;
  bottom: 15vmax;
}