.main_admin {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main_admin > .admin_form {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  top: 10vh;
}

.main_admin > .admin_form > form > div {
  padding: 1vmax;
}

.main_admin > .admin_form > form > div > input {
  display: block; /* Change 'none' to 'block' to display the button */
  outline: none;
  width: 100%;
  padding: 0.5vmax; /* Specify padding value */
  font-weight: 100;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
}
.main_admin > .admin_form > form > div > input[type='Submit'] {
  display: block; /* Change 'none' to 'block' to display the button */
  outline: none;
  width: 50%;
  padding: 0.5vmax; /* Specify padding value */
  font-weight: 100;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
  background-color: tomato;
  color: aliceblue;
  border: none;
}
.main_admin > .admin_form  > form > div > input[type='Submit']:hover {
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.2);

}
.main_admin > .admin_form > form > div > textarea {
  display: block; /* Change 'none' to 'block' to display the button */
  outline: none;
  width: 100%;
  padding: 0.5vmax; /* Specify padding value */
  font-weight: 100;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
}
.main_admin > .admin_form >  .icon{
  display: block; /* Change 'none' to 'block' to display the button */
  outline: none;
  padding: 1vmax;
  display: flex;
}
.main_admin > .admin_form > .icon > a{
  display: block; /* Change 'none' to 'block' to display the button */
  padding: 1vmax;
  size: 2vmax;
  transform: scale(1.5);
}
