@import url("https://fonts.googleapis.com/css?family=Arvo&display=swap");

/* nvabr */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px #089da1;
  background: #fff;
  margin: auto;
}

.navbar .logo img {
  width: 100px;
  cursor: pointer;
  position: relative;
  left: 3vw;
}

.navbar #title h2:hover {
  color: #089da1;
}

.navbar .navigation {
  padding: 2vw;
  display: block;
  text-align: center;
  font-size: 16px;
  position: relative;
  right: 10vw;
}

.navbar .navigation ul {
  padding: 0;
  margin: 0;
}

.navbar .navigation ul li {
  list-style: none;
  border-left: 2px solid #3ca0e7;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}

.navbar .navigation ul li a {
  color: black;
  text-decoration: none;
}

.navbar .navigation ul li a:hover {
  color: #3ca0e7;
}

.navbar .navigation ul li:hover {
  cursor: pointer;
}

.navbar .navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: calc(100% + 10px); /* Adjust this value as needed */
  background: white;
  padding: 0;
  min-width: 250px;
  text-align: left;
  box-shadow: 0px 3px 5px -1px #ccc;
  transition: visibility 0.3s, opacity 0.3s;
}

.navbar .navigation ul li:hover > ul,
.navbar .navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  padding-top: 20px;
}

.navbar .navigation ul li ul a:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  padding-top: 20px;
}

.navbar .navigation ul li ul li {
  width: 100%;
  margin: 0;
  border: none;
}

.navbar .navigation ul li ul li a {
  display: block;
  padding: 10px 20px;
  color: black;
  transition: padding-left 0.3s ease;
}

.navbar .navigation ul li ul li a:hover {
  padding-left: 30px;
  border-left: 2px solid #3ca0e7;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3ca0e7;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 10%;
  height: 100vh;
}

.main h1 {
  position: relative;
  font-size: 55px;
  top: 80px;
  left: 25px;
}

.main h1 span {
  color: #089da1;
}

.main p {
  width: 650px;
  text-align: justify;
  line-height: 22px;
  position: relative;
  top: 125px;
  left: 25px;
}

.main .main_tag .main_btn {
  background: #089da1;
  padding: 10px 20px;
  position: relative;
  top: 200px;
  left: 25px;
  color: #fff;
  text-decoration: none;
}

.main .main_img img {
  width: 780px;
  position: relative;
  top: 90px;
  left: 20px;
}

/*about*/

.about {
  width: 100%;
  height: 90vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .about_image img {
  width: 800px;
}

.about .about_tag h1 {
  font-size: 50px;
  position: relative;
  bottom: 35px;
}

.about .about_tag p {
  line-height: 22px;
  width: 650px;
  text-align: justify;
  margin-bottom: 15px;
}

.about .about_tag .about_btn {
  padding: 10px 20px;
  background: #089da1;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 50px;
}

/*Blog*/

.blog {
  width: 100%;
  height: auto;
  margin: 25px 0;
}

.blog h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.blog .blog_box {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.blog .blog_box .blog_card {
  margin: 0 auto;
  width: 450px;
  height: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.blog .blog_box .blog_card .blog_img {
  width: 450px;
  height: 300px;
  overflow: hidden;
}

.blog .blog_box .blog_card .blog_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog .blog_box .blog_card .blog_tag {
  padding: 20px;
}

.blog .blog_box .blog_card .blog_tag h2 {
  color: #089da1;
}

.blog .blog_box .blog_card .blog_tag p {
  margin-top: 10px;
  text-align: justify;
  line-height: 22px;
}

.blog .blog_box .blog_card .blog_tag .blog_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #089da1;
  cursor: pointer;
}

/*Banner*/

.banner {
  width: 100%;
  height: 50vh;
  background-image: url("../public/banner.jpg");
  background-size: cover;
  background-position: center;
}

.banner .banner_btn {
  padding: 8px 20px;
  background: #089da1;
  text-decoration: none;
  color: #fff;
  position: relative;
  top: 70%;
  left: 7%;
}

/*reviews*/
.Reviews_head{
  text-align: center;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 5% 0;
}
.review-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.img-area {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 25px;
}
.img-area img {
  width: 100%;
}
.header-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info h4 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}
.info p {
  margin: 5px 0 0;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.single-review p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
}
.review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}
.rating {
  display: flex;
}
.rating span {
  color: #000;
  font-size: 18px;
}
.rating span.active {
  color: #fbc02d;
}
@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .review-card {
    width: 85%;
  }
}

/* footer */

#picassoFooter {
  background-color: #089da1;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Arial", sans-serif;
}

.footer-navigation,
.footer-contact,
.footer-social {
  margin: 10px;
}

.footer-navigation h3,
.footer-contact h3,
.footer-social h3 {
  color: #f0f0f0;
  margin-bottom: 15px;
}

.footer-navigation ul,
.footer-social .social-icons {
  list-style: none;
  padding: 0;
}

.footer-navigation ul li,
.social-icon {
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}

.footer-navigation ul li a,
.social-icon {
  color: #faf8f8;
  text-decoration: none;
}

.social-icon {
  display: inline-block;
  padding: 8px;
  background-color: #ebe9e9;
  margin-right: 5px;
}

.social-icon:hover,
.footer-navigation ul li a:hover {
  transform: scale(1.1);
}

.footer-art canvas {
  max-width: 100px;
  height: auto;
  margin-top: 20px;
}

@media (max-width: 600px) {
  #picassoFooter {
    flex-direction: column;
    align-items: center;
  }

  .footer-art canvas {
    max-width: 100%;
  }
}
